@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: linear-gradient(90deg, #343535 65%, #F8F8F9 35%);
  min-height: 100vh;
}


body {
  background-color: #0E0E10;
}

.hero {
  background-image: url('../public/house.webp');
  background-position: center;
}



.active{
  border-bottom: 1px solid white;
}

.carousel-item {
  transition: transform 250ms;
}

.carousel-item:hover{
  transform: scale(1.05);
}



button {
    padding: 18px 30px;
    font-size: 16px;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: #3b3b3b;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s;
}

button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px) skew(-20deg);
}

button:hover::before {
    transform: translateX(300px) skew(-20deg);
}

button:hover {
    background: lightskyblue;
}


.hover-rotate {
  overflow: hidden;
  width: 100%;
}

.hover-rotate img {
  transition: all 0.5s;
  box-sizing: border-box;
  max-width: 100%;
}

.hover-rotate:hover img {
  transform: scale(1.1);
}

.footer-wrapper {
  
    padding-top: 6rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-wrapper__socials {
    display: flex;
    gap: 1rem;
    margin-top: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 80%;
  }

  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;

  }

  .footer-wrapper__col {
    flex: 1;
    flex-basis: 50%;
    margin-top: 2.75rem;
  }


}