@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0E0E10;
}

.hero {
  background-image: url('../public/house.webp');
  background-position: center;
}



.active{
  border-bottom: 1px solid white;
}

.carousel-item {
  transition: transform 250ms;
}

.carousel-item:hover{
  transform: scale(1.05);
}